In [1]:
# Import libraries that we need
import numpy as np  # library to support large multi-dimensional arrays and matrices and functions     
import pandas as pd    # for data manipulation and analysis
import seaborn as sns    # plotting library
import matplotlib.pyplot as plt # plotting library

In [48]:
# Load dataset
df=pd.read_csv('./Blood biomarker baseline data_ADNI.csv')

C:\Users\nmupadhyay\AppData\Local\Temp\ipykernel_18216\386932887.py:2: DtypeWarning: Columns (0,1,3,7,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('./Blood biomarker baseline data_ADNI.csv')

In [49]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,APOGEE,...,Unnamed: 1286,Unnamed: 1287,Purines Data from file: ADMCBarcelonapurine,Unnamed: 1289,Unnamed: 1290,Unnamed: 1291,Unnamed: 1292,Unnamed: 1293,Unnamed: 1294,Unnamed: 1295
0,RID at enrollment (Participant roster ID),Age\n(year),Gender,Education,Ethnicity\ncategory,Race subcategory,Married\nstatus,APOE4 genotype result,Diagnosis,L1CAM,...,TUDCA (Tauroursodeoxycholic acid),UDCA (Ursodeoxycholic acid),L.Glutamine,Taurine,Glycine,Inosine,Hypoxanthine,Xanthine,Xanthosine,Uric.acid
1,2,74.3,Male,16,Not Hisp/Latino,White,Married,0,CN,NaN,...,0.002,NaN,530.6025076,35.49789484,712.2334028,1.862880977,1.325800862,1.056745023,0.026759951,575.5513377
2,3,81.3,Male,18,Not Hisp/Latino,White,Married,1,AD,0.73,...,0.005,0.022,294.8877939,35.25381503,319.9505901,1.454096432,0.319595089,0.27669801,0.018367534,545.5947563
3,4,67.5,Male,10,Hisp/Latino,White,Married,0,LMCI,NaN,...,0.009,0.03,355.4172375,68.622106,419.9529924,1.703996497,0.697515115,0.619385988,0.027019954,437.5850613
4,5,73.7,Male,16,Not Hisp/Latino,White,Married,0,CN,NaN,...,0.024,0.06,435.975704,33.97121364,571.4948962,2.248941525,0.472482963,0.437379376,0.019958088,391.4946461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,1425,75.6,Female,16,Not Hisp/Latino,White,Divorced,0,LMCI,NaN,...,0.041,0.11,391.240712,57.181786,219.929946,0.877569,0.588239,0.572698,0.017946,333.511545
816,1426,83.4,Male,18,Not Hisp/Latino,White,Married,0,LMCI,NaN,...,0.002,NaN,390.011146,51.615926,421.982835,1.987726,0.712408,0.628084,0.018401,595.122574
817,1427,69.6,Female,12,Not Hisp/Latino,White,Widowed,0,LMCI,NaN,...,0.009,0.079,344.785668,30.799028,338.636078,0.537732,0.432964,0.759096,0.020839,511.069773
818,1430,83.4,Female,12,Not Hisp/Latino,White,Widowed,1,AD,NaN,...,NaN,NaN,347.490026,33.378196,890.085233,0.047978,0.370343,0.776571,0.03166,424.762194
819,1435,82.4,Male,12,Not Hisp/Latino,White,Married,1,AD,NaN,...,0.005,NaN,409.153789,71.449738,494.883447,0.120437,0.564498,0.484956,0.023586,428.197025

In [50]:
#Make second row as the header as 1st row has name of combined columns instead of individual column name. 

df.columns = df.iloc[0]

# Drop the second row (which is now the column headers)
df = df[1:]

# Reset the index if needed
df = df.reset_index().drop(columns=['index'])

df

,RID at enrollment (Participant roster ID),Age\n(year),Gender,Education,Ethnicity\ncategory,Race subcategory,Married\nstatus,APOE4 genotype result,Diagnosis,L1CAM,...,TUDCA (Tauroursodeoxycholic acid),UDCA (Ursodeoxycholic acid),L.Glutamine,Taurine,Glycine,Inosine,Hypoxanthine,Xanthine,Xanthosine,Uric.acid
0,2,74.3,Male,16,Not Hisp/Latino,White,Married,0,CN,NaN,...,0.002,NaN,530.6025076,35.49789484,712.2334028,1.862880977,1.325800862,1.056745023,0.026759951,575.5513377
1,3,81.3,Male,18,Not Hisp/Latino,White,Married,1,AD,0.73,...,0.005,0.022,294.8877939,35.25381503,319.9505901,1.454096432,0.319595089,0.27669801,0.018367534,545.5947563
2,4,67.5,Male,10,Hisp/Latino,White,Married,0,LMCI,NaN,...,0.009,0.03,355.4172375,68.622106,419.9529924,1.703996497,0.697515115,0.619385988,0.027019954,437.5850613
3,5,73.7,Male,16,Not Hisp/Latino,White,Married,0,CN,NaN,...,0.024,0.06,435.975704,33.97121364,571.4948962,2.248941525,0.472482963,0.437379376,0.019958088,391.4946461
4,6,80.4,Female,13,Not Hisp/Latino,White,Married,0,LMCI,NaN,...,0.003,NaN,290.5517349,34.74466791,340.8412289,0.220181672,0.246990993,0.626460894,0.021982938,364.9731402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,1425,75.6,Female,16,Not Hisp/Latino,White,Divorced,0,LMCI,NaN,...,0.041,0.11,391.240712,57.181786,219.929946,0.877569,0.588239,0.572698,0.017946,333.511545
815,1426,83.4,Male,18,Not Hisp/Latino,White,Married,0,LMCI,NaN,...,0.002,NaN,390.011146,51.615926,421.982835,1.987726,0.712408,0.628084,0.018401,595.122574
816,1427,69.6,Female,12,Not Hisp/Latino,White,Widowed,0,LMCI,NaN,...,0.009,0.079,344.785668,30.799028,338.636078,0.537732,0.432964,0.759096,0.020839,511.069773
817,1430,83.4,Female,12,Not Hisp/Latino,White,Widowed,1,AD,NaN,...,NaN,NaN,347.490026,33.378196,890.085233,0.047978,0.370343,0.776571,0.03166,424.762194
818,1435,82.4,Male,12,Not Hisp/Latino,White,Married,1,AD,NaN,...,0.005,NaN,409.153789,71.449738,494.883447,0.120437,0.564498,0.484956,0.023586,428.197025

In [51]:
# Inspect: number of samples and features
df.shape

# Inspect: number of samples and number of samples
print(str("The dataset has ") + str(df.shape[0])+str(' samples / instances & ')+str(df.shape[1])+ str(' features'))

The dataset has 819 samples / instances & 1296 features

In [52]:
# Inspect the dataset

df.dtypes

0
RID at enrollment (Participant roster ID)    object
Age\n(year)                                  object
Gender                                       object
Education                                    object
Ethnicity\ncategory                          object
                                              ...
Inosine                                      object
Hypoxanthine                                 object
Xanthine                                     object
Xanthosine                                   object
Uric.acid                                    object
Length: 1296, dtype: object

In [53]:
# Calculate the total number of samples (rows)
total_num_samples = df.shape[0]

total_num_samples

# Calculate the count of missing values in each column
num_missing = df.isnull().sum()

# Calculate the percentage of missing values for each column
percent_missing = ((num_missing / total_num_samples)* 100)

percent_missing

# Set a threshold for missing values (35% in this case)
threshold = 35

# Identify columns with missing values greater than the threshold
columns_to_drop = percent_missing[percent_missing > threshold].index

# Drop the identified columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)

df

,RID at enrollment (Participant roster ID),Age\n(year),Gender,Education,Ethnicity\ncategory,Race subcategory,Married\nstatus,APOE4 genotype result,Diagnosis,AB40,...,TMCA.a.b. (Tauromuricholic acid),TUDCA (Tauroursodeoxycholic acid),L.Glutamine,Taurine,Glycine,Inosine,Hypoxanthine,Xanthine,Xanthosine,Uric.acid
0,2,74.3,Male,16,Not Hisp/Latino,White,Married,0,CN,153.7,...,0.006,0.002,530.6025076,35.49789484,712.2334028,1.862880977,1.325800862,1.056745023,0.026759951,575.5513377
1,3,81.3,Male,18,Not Hisp/Latino,White,Married,1,AD,263.3,...,0.011,0.005,294.8877939,35.25381503,319.9505901,1.454096432,0.319595089,0.27669801,0.018367534,545.5947563
2,4,67.5,Male,10,Hisp/Latino,White,Married,0,LMCI,192,...,NaN,0.009,355.4172375,68.622106,419.9529924,1.703996497,0.697515115,0.619385988,0.027019954,437.5850613
3,5,73.7,Male,16,Not Hisp/Latino,White,Married,0,CN,246.1,...,0.013,0.024,435.975704,33.97121364,571.4948962,2.248941525,0.472482963,0.437379376,0.019958088,391.4946461
4,6,80.4,Female,13,Not Hisp/Latino,White,Married,0,LMCI,289,...,NaN,0.003,290.5517349,34.74466791,340.8412289,0.220181672,0.246990993,0.626460894,0.021982938,364.9731402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,1425,75.6,Female,16,Not Hisp/Latino,White,Divorced,0,LMCI,31.8,...,0.006,0.041,391.240712,57.181786,219.929946,0.877569,0.588239,0.572698,0.017946,333.511545
815,1426,83.4,Male,18,Not Hisp/Latino,White,Married,0,LMCI,153.2,...,0.006,0.002,390.011146,51.615926,421.982835,1.987726,0.712408,0.628084,0.018401,595.122574
816,1427,69.6,Female,12,Not Hisp/Latino,White,Widowed,0,LMCI,152.4,...,NaN,0.009,344.785668,30.799028,338.636078,0.537732,0.432964,0.759096,0.020839,511.069773
817,1430,83.4,Female,12,Not Hisp/Latino,White,Widowed,1,AD,NaN,...,0.022,NaN,347.490026,33.378196,890.085233,0.047978,0.370343,0.776571,0.03166,424.762194
818,1435,82.4,Male,12,Not Hisp/Latino,White,Married,1,AD,NaN,...,0.025,0.005,409.153789,71.449738,494.883447,0.120437,0.564498,0.484956,0.023586,428.197025

In [54]:
print(df.dtypes)

0
RID at enrollment (Participant roster ID)    object
Age\n(year)                                  object
Gender                                       object
Education                                    object
Ethnicity\ncategory                          object
                                              ...
Inosine                                      object
Hypoxanthine                                 object
Xanthine                                     object
Xanthosine                                   object
Uric.acid                                    object
Length: 1225, dtype: object

In [55]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Create a function to try to convert values to numeric, handling errors gracefully
def try_convert_numeric(value):
    try:
        return pd.to_numeric(value)
    except (ValueError, TypeError):
        return value  # Return the original value if conversion fails

# Apply the function to each column in the DataFrame
df = df.applymap(try_convert_numeric)

# Separate numerical and categorical columns
numerical_columns = df.select_dtypes(include=['number'])
categorical_columns = df.select_dtypes(exclude=['number'])

# Now, 'df' should have appropriate data types for each column

# Impute missing numerical values with the median
numerical_imputer = SimpleImputer(strategy='median')
df[numerical_columns.columns] = numerical_imputer.fit_transform(df[numerical_columns.columns])

In [57]:
columns_to_keep = ["AB40", "AB42", "PLASMA_NFL", "PLASMATAU", "Diagnosis "]
df = df[columns_to_keep]

df

0     AB40  AB42  PLASMA_NFL  PLASMATAU Diagnosis
0    153.7  50.9        28.2       2.41         CN
1    263.3  58.1       188.3       3.84         AD
2    192.0  59.8        31.2       3.76       LMCI
3    246.1  46.7        36.3       3.81         CN
4    289.0  44.3        52.5       2.86       LMCI
..     ...   ...         ...        ...        ...
814   31.8  26.7        36.9       2.65       LMCI
815  153.2  38.4        36.9       2.65       LMCI
816  152.4  48.6        36.9       2.65       LMCI
817  153.8  36.6        69.0       2.54         AD
818  153.8  36.6        35.3       3.34         AD

[819 rows x 5 columns]

In [58]:
#Converting categorical variable to numerical variables through label encoder:

from sklearn.preprocessing import LabelEncoder

# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# List of column names you want to encode
columns_to_encode = ["Diagnosis "]


# Iterate through the columns you want to encode
for column in columns_to_encode:
    # Convert all values in the column to strings
    df[column] = df[column].astype(str)
    
    # Apply LabelEncoder
    df[column] = label_encoder.fit_transform(df[column])

    
# Now df contains encoded values

df

0     AB40  AB42  PLASMA_NFL  PLASMATAU  Diagnosis
0    153.7  50.9        28.2       2.41           1
1    263.3  58.1       188.3       3.84           0
2    192.0  59.8        31.2       3.76           2
3    246.1  46.7        36.3       3.81           1
4    289.0  44.3        52.5       2.86           2
..     ...   ...         ...        ...         ...
814   31.8  26.7        36.9       2.65           2
815  153.2  38.4        36.9       2.65           2
816  152.4  48.6        36.9       2.65           2
817  153.8  36.6        69.0       2.54           0
818  153.8  36.6        35.3       3.34           0

[819 rows x 5 columns]

In [70]:
df["AB42_DIV_AB40"] = df["AB42"] / df["AB40"]

In [71]:
df

0     AB40  AB42  PLASMA_NFL  PLASMATAU  Diagnosis   AB42_DIV_AB40
0    153.7  50.9        28.2       2.41           1       0.331165
1    263.3  58.1       188.3       3.84           0       0.220661
2    192.0  59.8        31.2       3.76           2       0.311458
3    246.1  46.7        36.3       3.81           1       0.189760
4    289.0  44.3        52.5       2.86           2       0.153287
..     ...   ...         ...        ...         ...            ...
814   31.8  26.7        36.9       2.65           2       0.839623
815  153.2  38.4        36.9       2.65           2       0.250653
816  152.4  48.6        36.9       2.65           2       0.318898
817  153.8  36.6        69.0       2.54           0       0.237971
818  153.8  36.6        35.3       3.34           0       0.237971

[819 rows x 6 columns]

In [72]:
# Check for missing values in the DataFrame
missing_values = df.isna().sum()

# Display the missing values count for each column
print(missing_values)

0
AB40             0
AB42             0
PLASMA_NFL       0
PLASMATAU        0
Diagnosis        0
AB42_DIV_AB40    6
dtype: int64

In [75]:
df = df.fillna(0)

df

0     AB40  AB42  PLASMA_NFL  PLASMATAU  Diagnosis   AB42_DIV_AB40
0    153.7  50.9        28.2       2.41           1       0.331165
1    263.3  58.1       188.3       3.84           0       0.220661
2    192.0  59.8        31.2       3.76           2       0.311458
3    246.1  46.7        36.3       3.81           1       0.189760
4    289.0  44.3        52.5       2.86           2       0.153287
..     ...   ...         ...        ...         ...            ...
814   31.8  26.7        36.9       2.65           2       0.839623
815  153.2  38.4        36.9       2.65           2       0.250653
816  152.4  48.6        36.9       2.65           2       0.318898
817  153.8  36.6        69.0       2.54           0       0.237971
818  153.8  36.6        35.3       3.34           0       0.237971

[819 rows x 6 columns]

In [79]:
# Check for missing values in the DataFrame
missing_values = df.isna().sum()

# Display the missing values count for each column
print(missing_values)

0
AB40             0
AB42             0
PLASMA_NFL       0
PLASMATAU        0
Diagnosis        0
AB42_DIV_AB40    0
dtype: int64

In [87]:
# Identify infinite values in the DataFrame
is_infinite = np.isinf(df)

# Replace infinite values with a large finite value (e.g., 1e9)
df[is_infinite] = 1e9

# Cleaned Dataset

In [88]:
df.to_csv('highly predictive_ cleaned_dataset_ADNI_06.09.2023.csv', index=False)

In [89]:
from sklearn.model_selection import train_test_split

# Define the features (X) and target variable (y)
X = df.drop('Diagnosis ', axis=1)  # Replace 'target_column' with your target variable name
y = df['Diagnosis ']

X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [90]:
# confirm splitting
print(X_train.shape, X_temp.shape, X_val.shape, X_test.shape, y_train.shape, y_temp.shape, y_val.shape, y_test.shape)

(491, 5) (328, 5) (164, 5) (164, 5) (491,) (328,) (164,) (164,)

In [91]:
from sklearn.preprocessing import StandardScaler  

# Perform feature scaling on the training set
scaler = StandardScaler()  # You can use other scalers as well
X_train_scaled = scaler.fit_transform(X_train)

In [92]:
# Confirm scaling of the train data

pd.DataFrame(X_train_scaled, columns=[X.columns])

0        AB40      AB42 PLASMA_NFL PLASMATAU AB42_DIV_AB40
0   -0.852786 -0.345972  -0.742423 -0.972981     -0.078406
1    0.709852 -0.102190  -0.934299  0.405772     -0.078406
2    0.367580  0.463731  -0.137276 -0.082358     -0.078406
3    0.726151 -0.067364  -1.126175 -0.844526     -0.078406
4   -2.005919 -1.895727   3.193493 -1.675204     -0.078406
..        ...       ...        ...       ...           ...
486 -1.413053 -1.382044  -0.137276 -0.082358     -0.078406
487 -0.871122 -0.537515  -0.048718 -0.853090     -0.078406
488  0.098651  0.045820  -0.137276 -0.082358     -0.078406
489 -0.086747 -0.084777   1.092698  3.719919     -0.078406
490  1.443294  0.899056  -0.747343  0.080352     -0.078406

[491 rows x 5 columns]

# Model Development and Evalaution

In [93]:
# Scale the validation set using the same scaler
X_val_scaled = scaler.transform(X_val)

# Scale the test set using the same scaler
X_test_scaled = scaler.transform(X_test)

In [94]:
#Model training and Hyperparametere tuning

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# Define the Random Forest model
rf_model = RandomForestClassifier(random_state=42)

# Define hyperparameters and their possible values for tuning
rf_param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Perform hyperparameter tuning using GridSearchCV
rf_grid_search = GridSearchCV(estimator=rf_model, param_grid=rf_param_grid, cv=5)
rf_grid_search.fit(X_train_scaled, y_train)

# Get the best hyperparameters
best_rf_params = rf_grid_search.best_params_

# Train the Random Forest model with the best hyperparameters
rf_best_model = RandomForestClassifier(random_state=42, **best_rf_params)
rf_best_model.fit(X_train_scaled, y_train)

RandomForestClassifier(min_samples_leaf=2, min_samples_split=10,
                       random_state=42)

In [95]:
#Model Validation:

from sklearn.metrics import accuracy_score, classification_report

# Make predictions on the validation set
rf_val_predictions = rf_best_model.predict(X_val_scaled)

# Evaluate the models
rf_val_accuracy = accuracy_score(y_val, rf_val_predictions)

print("Validation Set Performance:")
print(f"Random Forest Accuracy: {rf_val_accuracy:.2f}")


# You can also print classification reports for more detailed evaluation
print("Random Forest Classification Report:")
print(classification_report(y_val, rf_val_predictions))

Validation Set Performance:
Random Forest Accuracy: 0.55
Random Forest Classification Report:
              precision    recall  f1-score   support

           0       0.57      0.43      0.49        37
           1       0.44      0.43      0.44        51
           2       0.60      0.68      0.64        76

    accuracy                           0.55       164
   macro avg       0.54      0.52      0.52       164
weighted avg       0.55      0.55      0.54       164

In [96]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Make predictions on the test set
rf_test_predictions = rf_best_model.predict(X_test_scaled)

# Evaluate the Random Forest model on the test set
rf_test_accuracy = accuracy_score(y_test, rf_test_predictions)
rf_test_classification_report = classification_report(y_test, rf_test_predictions)
rf_confusion_matrix = confusion_matrix(y_test, rf_test_predictions)

print("Test Set Performance (Random Forest Model):")
print(f"Accuracy: {rf_test_accuracy:.2f}")
print("Classification Report:")
print(rf_test_classification_report)
print("Confusion Matrix:")
print(rf_confusion_matrix)

Test Set Performance (Random Forest Model):
Accuracy: 0.54
Classification Report:
              precision    recall  f1-score   support

           0       0.56      0.51      0.53        47
           1       0.39      0.49      0.43        39
           2       0.62      0.58      0.60        78

    accuracy                           0.54       164
   macro avg       0.52      0.52      0.52       164
weighted avg       0.55      0.54      0.54       164

Confusion Matrix:
[[24 11 12]
 [ 5 19 15]
 [14 19 45]]

# Result: 
The result confirms the features do provide an accuracy of about 54% against model validation performance of 55% however additional features will be required to improve the accuracy of diagnosis.